.btn-close {
   background: url('../assets/gfx/icon-close-white.svg') no-repeat center;
   width: 14px;
   height: 14px;
   border: 0 none;
   background-size: 14px;
   opacity: .75;

   &:hover {
      opacity: 1;
   }

   &:focus {
      box-shadow: none;
   }

   > * {
      display: none;
   }
}

button.close {
   background: url('../assets/gfx/icon-close-white.svg');
   width: 12px;
   height: 12px;
   border: 0 none;
   background-size: 12px;

   > * {
      display: none;
   }
}

.expand-button {
   display: flex;
   align-items: center;
   text-decoration: underline;
   color: #333333;
   font-weight: 400;
   line-height: 16px;
   user-select: none;

   &:hover {
      color: #333333;
      text-decoration: none;
   }

   &::after {
      content: "";
      background: url("../assets/gfx/icon-arrow.svg") no-repeat center;
      background-size: 11px;
      width: 11px;
      height: 11px;
      transform: rotate(-90deg);
      transition: all 0.25s ease;
      margin-left: 10px;
   }
}

.box-expanded {
   > .expand-button {

      &::after {
         transform: rotate(90deg);
      }
   }
}

.expand-link {
   display: inline-flex;
   align-items: center;
   font-weight: 400;
   line-height: 16px;
   user-select: none;
   text-decoration: underline;
   cursor: pointer;

   &::after {
      content: "";
      background: url("../assets/gfx/icon-arrow.svg") no-repeat center;
      background-size: 11px;
      width: 11px;
      height: 11px;      
      transition: all 0.25s ease;
      margin-left: 10px;
      transform: rotate(90deg);
   }

   &:hover {
      text-decoration: none;
   }

   & + * {
      display: none;
   }

   &.expand-link--expanded {
      & + * {
         display: block;
      }

      &::after {
         transform: rotate(-90deg);
      }
   }
}

.button__next {
   display: flex !important;
   align-items: center;

   &::after {
      content: '';
      background: url('../assets/gfx/icon-arrow-white.svg') no-repeat center;
      width: 10px;
      height: 10px;
      background-size: 10px;
      margin-left: 10px;
   }
}

.button__prev {
   display: flex !important;
   align-items: center;

   &::before {
      content: '';
      background: url('../assets/gfx/icon-arrow-white.svg') no-repeat center;
      width: 10px;
      height: 10px;
      background-size: 10px;
      margin-right: 10px;
      transform: rotate(180deg);
   }
}

.button__finish {
   display: flex !important;
   align-items: center;

   &::after {
      content: '';
      background: url('../assets/gfx/icon-checked.svg') no-repeat center;
      width: 10px;
      height: 10px;
      background-size: 10px;
      margin-left: 10px;
   }
}