@font-face {
   font-family: "OpenSans-Regular";
   src: local("OpenSans-Regular"), url("../assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
   font-family: "OpenSans-SemiBold";
   src: local("OpenSans-SemiBold"), url("../assets/fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
   font-family: "OpenSans-Light";
   src: local("OpenSans-Light"), url("../assets/fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
   font-family: "OpenSans-Italic";
   src: local("OpenSans-Italic"), url("../assets/fonts/OpenSans-Italic.woff") format("woff");
}
