.form-control,
.btn {
   font-size: 13px !important;
}

.nav-link {
   transition: none;
}

.btn-primary {
   background-color: #8aaec3;
   border-color: #8aaec3;
   border-radius: 0;

   &:hover,
   &:focus {
      background-color: #5c7d91;
      border-color: #5c7d91;
      box-shadow: none;
   }

   &:active {
      background-color: #8aaec3;
      border-color: #8aaec3;
   }

   &:active:focus {
      box-shadow: none;
   }

   &:disabled {
      background-color: #aac4d3;
      border-color: #aac4d3;
   }
}

.btn-link {
   color: #3867c8;
   padding: 0;
   text-decoration: underline;

   &:hover {
      text-decoration: none;
   }

   &:focus {
      box-shadow: none;
   }
}

.modal-open {
   padding-right: 0 !important;
}

.modal-dialog {
   max-width: 1000px;
   transform: none !important;
}

.modal-header {
   background-color: #8aaec3;
   color: #ffffff;
   border-bottom: 0;
   padding: 7px 15px;
   border-radius: 0;

   .modal-title {
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      margin-bottom: -1px;
   }
}

.modal-footer {
   border-radius: 0;
}

.modal-content {
   border: 0 none;
   border-radius: 0;
}

.ol-full-screen,
.ol-zoom,
.ol-zoom-extent,
.ol-rotate {
   button {
      font-size: 14px;
      font-family: sans-serif !important;
      font-weight: 500;
      line-height: 20px;
      width: 22px;
      height: 22px;
      margin: 0;
   }
}

.ol-control {
   padding: 0;
   border-radius: 0;
   background-color: unset;

   &:hover {
      background-color: unset;
   }
}

.ol-full-screen {
   top: 50px;
   left: 15px;
   right: unset;

   button {
      font-family: sans-serif !important;
   }
}

.ol-zoom {
   top: 85px;
   left: 15px;
   right: unset;

   .ol-zoom-out {
      margin-top: 1px;
   }
}

.ol-zoom-extent {
   top: 145px;
   left: 15px;
   right: unset;
}

.ol-rotate {
   top: 185px;
   left: 15px;
   right: unset;
}

.nav-tabs::before {
   content: "";
   background: url("../assets/gfx/logo-geonorge.svg") no-repeat center;
   align-content: center;
   width: 175px;
   background-size: 150px;
}

.nav-tabs {
   .nav-link {
      margin-bottom: unset;
      border: 0 none;
      border-radius: 0;
      padding: 0;
      color: unset;

      &.active {
         color: unset;
         background-color: unset;
         border-color: unset;
      }
   }
}

.app {
   .nav-tabs {
      background-color: #f7f7f7;

      .nav-link {
         position: relative;
         background-color: #f8f8f8;
         border-right: 1px solid #dee2e6;
         line-height: 45px;
         height: 44px;
         padding: 0 15px;
         font-weight: 500;

         &.map-tab {
            display: flex;
            align-items: center;

            &::after {
               content: "";
               background: url("../assets/gfx/icon-map.svg") no-repeat center;
               background-size: 18px;
               width: 18px;
               height: 18px;
               margin-left: 10px;
            }

            &.active::after {
               background-position: center -1px;
            }
         }

         &.api-link {
            display: flex;
            align-items: center;
            border: 0;
            color: #3867c8;
            text-decoration: underline;
            font-weight: 400;

            &:hover {
               text-decoration: none;
            }

            &::after {
               content: "";
               background: url("../assets/gfx/icon-api.svg") no-repeat center;
               width: 21px;
               height: 21px;
               background-size: 21px;
               margin-left: 7px;
            }
         }

         &.active {
            background-color: #ffffff;
            height: 45px;
            margin-bottom: -1px;

            &::before {
               content: "";
               display: block;
               position: absolute;
               top: 0;
               left: -1px;
               height: 5px;
               width: calc(100% + 2px);
               background-color: #8aaec3;
            }
         }

         &:first-child {
            border-left: 1px solid #dee2e6;
         }
      }
   }
}

.progress {
   width: 250px;
   font-size: 13px;

   .progress-bar {
      transition: none;
      background-color: #8aaec3;
   }
}

.spinner-border {
   width: 23px;
   height: 23px;
   margin: -5px 10px;
   color: #6f92a7;
}