.form-group {
   margin-bottom: 1rem;
}

.modal-open {
   padding-right: 0 !important;
}

.form-control,
.btn {
   font-size: 14px !important;
}

.btn-link {
   padding: 0;

   &:focus {
      box-shadow: none;
   }
}

.nav-link {
   transition: none;
}

.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label,
.was-validated .form-control:valid,
.form-control.is-valid {
   border-color: #ced4da;
}

.was-validated .custom-file-input:valid:focus ~ .custom-file-label,
.custom-file-input.is-valid:focus ~ .custom-file-label,
.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
   border-color: #80bdff;
   box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.modal-dialog {
   max-width: 1000px;
   transform: none !important;
}

.modal-header {
   background-color: #8aaec3;
   color: white;
   border-bottom: 0;
   padding: 12px 16px;
   border-radius: 0;

   .modal-title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      margin-bottom: -1px;
   }
}

.modal-footer {
   border-radius: 0;
}

.modal-content {
   border: 0 none;
   border-radius: 0;
}

