h4 {
   font-size: 20px;
   margin-bottom: 15px;
}

h6 {
   font-size: 16px;
   margin-bottom: 0;
}

.modal-open {
   padding-right: 0 !important;
}

.form-control,
.btn {
   font-size: 13px !important;
}

.btn-link {
   padding: 0;

   &:focus {
      box-shadow: none;
   }
}

.nav-link {
   transition: none;
}

.modal-dialog {
   max-width: 1000px;
   transform: none !important;
}

.modal-header {
   background-color: #8aaec3;
   color: #ffffff;
   border-bottom: 0;
   padding: 7px 15px;
   border-radius: 0;

   .modal-title {
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      margin-bottom: -1px;
   }
}

.modal-footer {
   border-radius: 0;
}

.modal-content {
   border: 0 none;
   border-radius: 0;
}

.progress {
   width: 250px;
   font-size: 13px;

   .progress-bar {
      transition: none;
   }
}