.sidebar-hidden .left-content {
   display: none !important;
}

.map-container {
   display: flex;   

   .map {
      width: 100%;
      height: calc(100vh - 65px);
   }
}

.north-arrow {
   position: absolute;
   width: 40px;
   left: 15px;
   bottom: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;

   span {
      color: #333333;
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 5px;
      font-weight: 500;
   }

   img {
      width: 40px;
   }
}