.file-list {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
   border: 1px solid #dee2e6;

   .file {
      display: flex;
      border-top: 1px solid #dee2e6;
      padding: 10px;

      &:first-child {
         margin-top: 0;
         border: 0 none;
      }
   }

   .type {
      width: 34px;
   }

   .info {
      width: calc(100% - 46px);
      flex-direction: column;
      display: flex;
      justify-content: center;
      padding: 0 10px;

      .name {
         overflow: hidden;
         white-space: nowrap;
         text-overflow: ellipsis;
      }
   }

   .remove {
      width: 12px;
      align-items: center;
      display: flex;
      justify-content: flex-end;

      button {
         background: url("../../../assets/gfx/icon-remove.svg") no-repeat center center;
         border: 0 none;
         width: 12px;
         height: 12px;
         padding: 0;
         background-size: 12px;
         opacity: 0.6;
      }
   }

   .icon {
      width: 34px;
      height: 44px;
      background-size: 34px 44px;
      display: flex;
      justify-content: center;

      &.icon--gml {
         background-image: url("../../../assets/gfx/icon-gml.svg");
      }

      &.icon--xml {
         background-image: url("../../../assets/gfx/icon-xml.svg");
      }

      &.icon--xsd {
         background-image: url("../../../assets/gfx/icon-xsd.svg");
      }

      &.icon--json,
      &.icon--geojson {
         background-image: url("../../../assets/gfx/icon-json.svg");
      }

      span {
         display: flex;
         align-self: end;
         text-transform: uppercase;
         color: #ffffff;
         font-family: 'OpenSans-SemiBold';
         font-size: 10px;
         font-weight: 500;
      }
   }
}
