.information {
   .nav-tabs {
      width: 300px;
      flex-direction: column;
      border-bottom: 0;

      .nav-link {
         padding: 12px 24px;
         font-size: 14px;
         font-weight: 400;
         color: #212529;
         border-radius: 0;
         margin-bottom: 0;
         background-color: #f8f8f8;
         border-right: 0!important;
         border: 1px solid #dee2e6;
         border-top: 0;
         transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
                  
         &.active {
            background-color: #fff;
            font-weight: 500;
            position: relative;
            cursor: default;
            margin-right: -1px;
            z-index: 1;
         }

         &:first-child {
            border-top: 1px solid #dee2e6;
         }
      }
   }
}