.response-row {
   &:first-child .info {
      border-top: 0 none;
   }

   &:last-child .messages-container {
     border-bottom: 1px solid #dee2e6;
   }

   .info {
      user-select: none;
      border-top: 1px solid #dee2e6;
      padding: 8px;
      font-size: 0;
      display: flex;

      > * {
         align-self: center;
         font-size: 13px;
      }

      .status {
         width: 120px;
      }

      .name {
         width: calc(100% - 220px);
         padding-right: 10px;
         
         .documentation {
            margin-left: 10px;
            color: #3867c8;
            text-decoration: underline;

            &:hover {
               text-decoration: none;
            }
         }

         .description {
            font-size: 12px;
            display: block;
            margin-top: 2px;
         }
      }

      .id {
         width: 100px;
         text-align: right;
         font-size: 12px;
      }
   }

   .messages-container {
      display: none;
      border-top: 1px solid #dee2e6;
      
      &.messages-container--expanded {
         display: block;
      }
   }
   
   &.response-row-with-messages .info {
      cursor: pointer;

      &:hover {
         background-color: #f0f4f7;
      }
   }
}
