.response-row {
   font-size: 14px;

   &:first-child .info {
      border-top: 0 none;
   }

   .info {
      user-select: none;
      border-top: 1px solid #dddddd;
      padding: 8px;
      font-size: 0;
      display: flex;

      > * {
         align-self: center;
         font-size: 14px;
      }

      .status {
         width: 11%;
      }

      .name {
         width: 80%;
         padding-right: 10px;
         
         .documentation {
            margin-left: 10px;
         }

         .description {
            font-size: 12px;
            display: block;
            margin-top: 2px;
         }
      }

      .id {
         width: 9%;
         text-align: right;
         font-size: 12px;
      }
   }
   
   &.response-row-with-messages .info {
      cursor: pointer;

      &:hover {
         background-color: #f0f4f7;
      }
   }

   .messages {
      border-top: 1px solid #dddddd;
      line-height: 150%;
      font-size: 12px;
      margin: 0;
      padding: 10px 25px;
      max-height: 300px;
      overflow-y: auto;
   }
}
