.dataset {
   display: flex;
   flex-direction: column;

   .file {
      display: flex;
      align-items: center;

      .validating-progress {
         .progress {
            width: 150px;
            height: 13px;
            margin-top: 1px;      
         }

         span {
            margin-left: 0;
         }
      }

      span,
      button {
         margin-left: 10px;
      }

      &.file-no-map span {
         color: #d9534f;
         text-decoration: line-through;
      }

      button {
         display: flex;
         align-items: center;
         margin-right: 10px; 

         &::after {
            content: "";
            background: url('../../../../assets/gfx/icon-map-blue.svg') no-repeat center;
            background-size: 15px;
            width: 15px;
            height: 15px;
            margin-left: 5px;
         }
      }
   }
}

.file-messages {
   font-size: 12px;
   margin: 0;
   padding: 0 0 0 16px;
}