.summary {
   margin-bottom: 30px;
}

.label {
   color: #fff;
   padding: 2px 6px;
   border-radius: 4px;
   font-weight: 500;
   font-size: 12px;
   text-transform: uppercase;

   &.label-passed {
      background-color: #58a058;
   }

   &.label-warning {
      background-color: #f0ad4e;
   }

   &.label-error,
   &.label-failed {
      background-color: #d9534f;
   }

   &.label-skipped {
      background-color: #c3c3c3;
   }

   &.label-default {
      background-color: #00676f;
      text-transform: lowercase;
   }
}