.app {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin: auto;
   position: relative;
   max-width: 1440px;
   min-height: 100vh;
   margin: 0 auto;

   &.fullscreen-toggled {
      max-width: unset;

      .toggle-fullscreen {
         background: url("./assets/gfx/icon-minimize.svg") no-repeat center;
      }
   }

   .validator {
      padding: 50px 20px 0 20px;

      > div {
         max-width: 1280px;
         margin: 0 auto 30px auto;
      }

      h3 {
         font-size: 13px;
         font-weight: 500;
      }
   }
}

.toggle-fullscreen {
   position: absolute;
   right: 15px;
   top: 11px;
   background: url("./assets/gfx/icon-maximize.svg") no-repeat center;
   width: 16px;
   height: 24px;
   background-size: 16px;
}

.tab-content {
   background-color: #ffffff;
   min-height: calc(100vh - 45px);
   border-left: 1px solid #dee2e6;
   border-right: 1px solid #dee2e6;
}

.content {
   display: flex;
   position: relative;
   padding: 20px 20px 0 20px;

   .left-content {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      width: 330px;

      .box {
         position: static;

         .box-content .box-row {
            .label {
               width: 45%;
            }

            .value {
               width: 55%;
            }
         }
      }
   }

   .right-content {
      flex-grow: 1;
      position: relative;

      .box {
         border: 0;
         right: 0;
         align-items: flex-end;
         background: transparent;

         .box-header {
            background-color: #8aaec3;
            color: #ffffff;
            font-weight: 500;

            &::after {
               background: url("assets/gfx/icon-arrow-white.svg") no-repeat center;
               background-size: 11px;
            }
         }

         .box-content {
            border: 1px solid #8aaec3;
            background: #ffffff;
            width: 100%;
         }
      }
   }
}

.box {
   font-size: 13px;
   position: absolute;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   z-index: 999;

   .box-header {
      display: flex;
      line-height: 16px;
      padding: 7px 10px;
      background-color: #f1f1f1;
   }

   .box-content {
      padding: 10px;

      .box-row {
         display: flex;
         margin-bottom: 5px;

         .label {
            width: 35%;
         }

         .value {
            width: 65%;
            max-height: 200px;
            overflow-y: auto;
         }
      }
   }
}
