.app {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin: auto;
   position: relative;
   max-height: calc(100vh - 140.25px);
   top: 140.25px;

   @media (min-width: 360px) {
      max-height: calc(100vh - 102.75px);
      top: 102.75px;
   }

   @media (min-width: 600px) {
      max-height: calc(100vh - 62.5px);
      top: 62.5px;
   }

   .container {
      position: relative;
      max-width: 1600px;
      margin: 40px auto 80px;
   }

   .validator,
   .information {
      padding: 20px;

      > div {
         margin: 0 auto 25px auto;
         border-top: 1px solid #dee2e6;
         padding-top: 20px;
         margin-top: 20px;

         &:first-child {
            border-top: 0;
            padding-top: 0;
            margin-bottom: 5px;
            margin-top: 0;
         }

         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   .capitalize {
      text-transform: capitalize;
   }
}

.hidden {
   visibility: hidden;
   height: 0;
   width: 0;
   margin: 0;
}

.tabs-container {
   display: flex;
}

.toggle-fullscreen {
   position: absolute;
   right: 16px;
   top: 11px;
   background: url("./assets/gfx/icon-maximize.svg") no-repeat center;
   width: 16px;
   height: 24px;
   background-size: 16px;
   border: none;
}

.tab-content {
   background-color: #ffffff;
   border-left: 1px solid #dee2e6;
   border-right: 1px solid #dee2e6;
   border-bottom: 1px solid #dee2e6;
}

.content {
   display: flex;
   position: relative;
   padding: 20px;

   .left-content {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      width: 330px;

      .box {
         position: static;

         .box-content .box-row {
            .label {
               width: 45%;
            }

            .value {
               width: 55%;
            }
         }
      }
   }

   .right-content {
      flex-grow: 1;
      position: relative;

      .box {
         border: 0;
         right: 0;
         align-items: flex-end;
         background: transparent;

         .box-header {
            background-color: #8aaec3;
            color: #ffffff;
            font-weight: 500;

            &::after {
               background: url("assets/gfx/icon-arrow-white.svg") no-repeat center;
               background-size: 11px;
            }
         }

         .box-content {
            border: 1px solid #8aaec3;
            background: #ffffff;
            width: 100%;
         }
      }
   }
}

.box {
   font-size: 13px;
   position: absolute;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   z-index: 1;

   .box-header {
      display: flex;
      line-height: 16px;
      padding: 7px 10px;
      background-color: #f1f1f1;
   }

   .box-content {
      padding: 10px;

      .box-row {
         display: flex;
         margin-bottom: 5px;

         .label {
            width: 35%;
         }

         .value {
            width: 65%;
            max-height: 200px;
            overflow-y: auto;
         }

         .label,
         .value {
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
         }
      }
   }
}

:fullscreen {
   main-navigation,
   geonorge-footer {
      display: none;
   }

   .app {
      max-width: unset;
      max-height: unset !important;
      top: 0 !important;
      overflow: unset;

      > .container {
         margin: 0 auto;

         > .nav-tabs::before {
            content: "";
            background: url("./assets/gfx/logo-geonorge.svg") no-repeat center;
            align-content: center;
            width: 175px;
            background-size: 150px;
         }

         .toggle-fullscreen {
            background: url("./assets/gfx/icon-minimize.svg") no-repeat center;
         }
      }

      .validator,
      .information {
         > div:last-child {
            margin-bottom: 0;
         }
      }

      .information {
         min-height: calc(100vh - 46px);
      }
   }
}

.response-row,
.ruleset {
   .label {
      color: #ffffff;
      padding: 2px 6px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;

      &.label-passed {
         background-color: #58a058;
      }

      &.label-warning {
         background-color: #f0ad4e;
      }

      &.label-failed,
      &.label-error,
      &.label-system_error {
         background-color: #d9534f;
      }

      &.label-skipped {
         background-color: #c3c3c3;
      }

      &.label-default {
         background-color: #00676f;
         text-transform: lowercase;
      }
   }
}
