.app {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin: auto;
   position: relative;
   max-width: 1920px;
   min-height: 100vh;
   margin: 0 auto;

   &.api-loading .content {
      opacity: 0.25;
   }

   .validator {
      min-height: calc(100vh - 45px);
      background-color: #ffffff;
      padding: 20px 20px 30px 20px;

      > div {
         max-width: 1280px;
         margin-bottom: 30px;
      }

      h2 {
         font-size: 15px;
      }

      h3 {
         font-size: 13px;
      }

      h2,
      h3 {
         font-weight: 500;
      }

      .section {
         border: 1px solid #dee2e6;
         background-color: #ffffff;
         padding: 20px 20px 30px 20px;
         margin-bottom: 20px;

         > div {
            max-width: 67%;
         }

         &::before {
            content: "";
            border-top: 1px solid #dee2e6;
            width: 100%;
         }

         &:first-child {
            border-top: 0 none;
         }
      }
   }
}

.content {
   display: flex;
   position: relative;
   padding: 20px 20px 0 20px;
   background-color: #ffffff;
   border-left: 1px solid #dee2e6;
   border-right: 1px solid #dee2e6;

   .left-content {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      width: 400px;

      .box {
         position: static;
      }
   }

   .right-content {
      flex-grow: 1;
      position: relative;

      .box {
         border: 0;
         right: 0;
         align-items: flex-end;
         background: transparent;

         .box-header {
            background-color: #8aaec3;
            color: #ffffff;
            font-weight: 500;

            &::after {
               background: url("assets/gfx/icon-arrow-white.svg") no-repeat center;
               background-size: 11px;
            }
         }

         .box-content {
            border: 1px solid #8aaec3;
            background: #ffffff;
            width: 100%;
         }
      }
   }
}

header {
   display: flex;
   flex-direction: column;

   h1 {
      font-weight: 100;
      font-size: 55px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;
   }

   img {
      width: 150px;
   }
}

.select-validator {
   display: flex;

   .dropdown {
      width: 50%;
      max-width: 350px;
      margin-right: 15px;
   }

   button {
      img {
         width: 25px;
         margin-right: 5px;
      }
   }
}

.box {
   font-size: 13px;
   position: absolute;
   display: flex;
   flex-direction: column;
   //border: 1px solid #8aaec3;
   background-color: #ffffff;
   z-index: 999;

   .box-header {
      display: flex;
      line-height: 16px;
      padding: 7px 10px;
      //border-bottom: 1px solid #8aaec3;
      background-color: #f1f1f1;
   }

   .box-content {
      padding: 10px;

      .box-row {
         display: flex;
         margin-bottom: 5px;

         .label {
            width: 35%;
         }

         .value {
            width: 65%;
            max-height: 200px;
            overflow-y: auto;
         }
      }
   }
}
