@import "~bootstrap/scss/bootstrap";
@import "~ol/ol.css";
@import "./styles/_buttons";
@import "./styles/_dialogs";
@import "./styles/_forms";
@import "./styles/_overrides";
@import "./styles/_fonts";

html {
   overflow-y: scroll;

   &:fullscreen {
      overflow-y: unset;
   }
}

body {
   margin: 0;
   font-family: 'OpenSans-Regular';
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #f7f7f7;
   color: #333333;
   font-size: 13px;
}

b, strong {
   font-family: 'OpenSans-SemiBold';
}

i, em {
   font-family: 'OpenSans-Italic';
}
