@import "~bootstrap/scss/bootstrap";
@import "~ol/ol.css";
@import "./styles/_buttons";
@import "./styles/_dialogs";
@import "./styles/_forms";
@import "./styles/_overrides";
@import "./styles/_fonts";
@import "./styles/_react-checkbox-tree";

html {
   overflow-y: scroll;

   &:fullscreen {
      overflow-y: unset;
   }
}

body {
   margin: 0;
   font-family: "OpenSans-Regular";
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #f7f7f7;
   color: #333333;
   font-size: 13px;
}

h2 {
   font-size: 15px;
   font-family: "OpenSans-Regular";
   border-bottom: 2px solid #fe5000;
   display: inline-block;
   margin-bottom: 15px;
}

h3 {
   font-size: 14px;
   margin-bottom: 5px;
}

h4 {
   font-size: 13px;
}

b,
strong {
   font-family: "OpenSans-SemiBold";
}

i,
em {
   font-family: "OpenSans-Italic";
}

.hidden2 {
   display: none;
}