:fullscreen .validator {
   height: calc(100vh - 46px);
   display: flex;
   flex-direction: column;

   > div {
      width: 100%;
   }

   > div:last-child {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
   }
}

.wizard-footer {
   .wizard-footer__buttons {
      display: flex;
      align-items: center;

      > button {
         margin-left: 50px;
      }

      > button:first-child {
         margin-left: 0;
      }
   }
}